# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
out/make/squirrel.windows/x64/RELEASES
out/make/squirrel.windows/x64/vcop-0.1.0 Setup.exe
out/make/squirrel.windows/x64/vcop-0.1.0-full.nupkg
out/vcop-win32-x64/chrome_100_percent.pak
out/vcop-win32-x64/chrome_200_percent.pak
out/vcop-win32-x64/d3dcompiler_47.dll
out/vcop-win32-x64/ffmpeg.dll
out/vcop-win32-x64/icudtl.dat
out/vcop-win32-x64/libEGL.dll
out/vcop-win32-x64/libGLESv2.dll
out/vcop-win32-x64/LICENSE
out/vcop-win32-x64/LICENSES.chromium.html
out/vcop-win32-x64/resources.pak
out/vcop-win32-x64/snapshot_blob.bin
out/vcop-win32-x64/Squirrel.exe
out/vcop-win32-x64/v8_context_snapshot.bin
out/vcop-win32-x64/vcop.exe
out/vcop-win32-x64/version
out/vcop-win32-x64/vk_swiftshader_icd.json
out/vcop-win32-x64/vk_swiftshader.dll
out/vcop-win32-x64/vulkan-1.dll
out/vcop-win32-x64/locales/am.pak
out/vcop-win32-x64/locales/ar.pak
out/vcop-win32-x64/locales/bg.pak
out/vcop-win32-x64/locales/bn.pak
out/vcop-win32-x64/locales/ca.pak
out/vcop-win32-x64/locales/cs.pak
out/vcop-win32-x64/locales/da.pak
out/vcop-win32-x64/locales/de.pak
out/vcop-win32-x64/locales/el.pak
out/vcop-win32-x64/locales/en-GB.pak
out/vcop-win32-x64/locales/en-US.pak
out/vcop-win32-x64/locales/es-419.pak
out/vcop-win32-x64/locales/es.pak
out/vcop-win32-x64/locales/et.pak
out/vcop-win32-x64/locales/fa.pak
out/vcop-win32-x64/locales/fi.pak
out/vcop-win32-x64/locales/fil.pak
out/vcop-win32-x64/locales/fr.pak
out/vcop-win32-x64/locales/gu.pak
out/vcop-win32-x64/locales/he.pak
out/vcop-win32-x64/locales/hi.pak
out/vcop-win32-x64/locales/hr.pak
out/vcop-win32-x64/locales/hu.pak
out/vcop-win32-x64/locales/id.pak
out/vcop-win32-x64/locales/it.pak
out/vcop-win32-x64/locales/ja.pak
out/vcop-win32-x64/locales/kn.pak
out/vcop-win32-x64/locales/ko.pak
out/vcop-win32-x64/locales/lt.pak
out/vcop-win32-x64/locales/lv.pak
out/vcop-win32-x64/locales/ml.pak
out/vcop-win32-x64/locales/mr.pak
out/vcop-win32-x64/locales/ms.pak
out/vcop-win32-x64/locales/nb.pak
out/vcop-win32-x64/locales/nl.pak
out/vcop-win32-x64/locales/pl.pak
out/vcop-win32-x64/locales/pt-BR.pak
out/vcop-win32-x64/locales/pt-PT.pak
out/vcop-win32-x64/locales/ro.pak
out/vcop-win32-x64/locales/ru.pak
out/vcop-win32-x64/locales/sk.pak
out/vcop-win32-x64/locales/sl.pak
out/vcop-win32-x64/locales/sr.pak
out/vcop-win32-x64/locales/sv.pak
out/vcop-win32-x64/locales/sw.pak
out/vcop-win32-x64/locales/ta.pak
out/vcop-win32-x64/locales/te.pak
out/vcop-win32-x64/locales/th.pak
out/vcop-win32-x64/locales/tr.pak
out/vcop-win32-x64/locales/uk.pak
out/vcop-win32-x64/locales/vi.pak
out/vcop-win32-x64/locales/zh-CN.pak
out/vcop-win32-x64/locales/zh-TW.pak
out/vcop-win32-x64/resources/app.asar
out/vcop-win32-x64/swiftshader/libEGL.dll
out/vcop-win32-x64/swiftshader/libGLESv2.dll
